<h2>Employee List</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
      <th>DOB</th>
      <th>Department</th>
      <th>Salary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees">
      <td>{{ emp.id }}</td>
      <td>{{ emp.firstName }}</td>
      <td>{{ emp.middleName }}</td>
      <td>{{ emp.lastName }}</td>
      <td>{{ emp.dateOfBirth }}</td>
      <td>{{ emp.department }}</td>
      <td>{{ emp.salary }}</td>
    </tr>
  </tbody>
</table>
